*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
input{
    margin-left: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.container-cadastro{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15;

}
.wrap-cadastro{
    width: 390px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 0;
}
input, select, textarea, button {
    border-radius: 5px;
}
.campo {
    margin-bottom: 1em;
}
.campo label {
    margin-bottom: 0.2em;
    display: block;
}
